body{ 
font-family: arial;}

h1{font-size: 60px; color: #338AFF ; text-shadow: black 0.1em 0.1em 0.2em
}

 {color: white; text-shadow: black 0.1em 0.1em 0.2em}

h5 {color: #33A2FF ; font-size: 15px; font-style: italic;}

h6 {color: #FF33A5; font-size: 15px;}

p{color:  #3371FF}

a{color: #33B8FF; text-shadow: 0.1em 0.1em 0.2em black}





